body {
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,224,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,224,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,224,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,224,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,224,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,224,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6, .page-nav p {
  font-family: "iskra",sans-serif;
  font-weight: 200;
  font-style: italic;
}
.page-nav {
  font-size: 20px;
}
.page-nav h1 {
  font-size: 50px;
}
.page-nav i {
  width: 25px;
  text-align: center;
}
.cv {
  font-family: Georgia,serif;
  font-size: 16px;
  max-width: 650px;
  padding-top: 30px;
}
.cv img {
  width: 100%;
  max-width: 540px;
}
.cv h1 {
  padding-bottom: 5px;
  border-bottom: 1px solid #bbb;
}
.lang-label {
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 5px;
  color: #666;
}
@media (min-width: 992px) {
  .page-nav-inner {
    position: fixed;
  }
}
