{% extends "_base.html" %}

{% if PATH.startswith("en/") %}
  {% set lang = "en" %}
{% else %}
  {% set lang = "es" %}
{% endif %}

{# blank out nav and footer #}
{% block footer %}{% endblock %}

{# set up content block with sub blocks #}
{% block content %}
<div class="container-fluid">
  <div class="col-md-3 page-nav">
    <div class="page-nav-inner">
      {% block page_nav %}
      <img src="img/emta.jpg" class="img-responsive">
      <h1>Margarita Torres, PhD</h1>
<p>Professor, Coordinator of the Right To Information Program</p>
<p>Iberoamericana University, Mexico City</p>
<hr />
<div class="row">
  <div class="col-xs-6">
    <p><a href="https://www.facebook.com/mago.torres"><i class="fa fa-facebook"></i> Facebook</a></p>
    <p><a href="http://twitter.com/magiccia"><i class="fa fa-twitter"></i> Twitter</a></p>
  </div>
  <div class="col-xs-6">
    <p><a href="http://mx.linkedin.com/in/magotorres"><i class="fa fa-linkedin"></i> Linkedin</a></p>
    <p><a href="mailto:estela.torres@ibero.mx"><i class="fa fa-envelope"></i> Email</a></p>
  </div>
</div>

      {% endblock %}
    </div>
  </div>
  <div class="col-md-9">
    <div class="body">
      {% block body %}
      <h1>Language specific CV stuff</h1>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock content %}

{% block library_scripts %}
{{ super() }}
<script type="text/javascript" src="//use.typekit.net/obg0hmr.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script>
function setFixedWidth() {
  $('.page-nav-inner').width($('.page-nav').width());
}
$(document).ready(function () {
  setFixedWidth();
  $(window).resize(setFixedWidth);
});
</script>
{% endblock library_scripts %}

{% block library_css %}
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../css/style.css" />
{% endblock library_css %}
