{% extends "_mago_base.html" %}



{% block body %}

<h1 id="docencia"> Docencia </h1>
<h2> Licenciatura </h2> 
<ul> 
{% for curso in docencia_licenciatura %}
<li> <strong>{{curso.nombre}}</strong> <br/> {{curso.description}} </li>
{% endfor %}
 </ul>
<h2> Posgrado </h2>
<ul> 
{% for curso in docencia_posgrado %}
<li> <strong>{{curso.nombre}}</strong> <br/> {{curso.description}} </li>
{% endfor %}
 </ul>

<h1 id="conferencias"> Conferencias </h1>
<ul> 
{% for charlas in conferencias %}
<li> <strong>{{charlas.fecha}}</strong> <br/> {{charlas.lugar}} </li>
{% endfor %}
 </ul>



<h1 id="medios"> Participación en medios </h1>




<h1 id="cv"> CV Completo </h1>

{% endblock %}
